{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up - Stockventry{% endblock %}
{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-4xl">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2 pr-8">
                <h1 class="text-4xl font-bold text-indigo-600 mb-8">Sign Up</h1>
                
                {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                    <div class="p-4 {% if message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %} rounded-md">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <form method="post" class="space-y-4">
                    {% csrf_token %}
                    {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit"
                        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition duration-300">
                        Sign Up
                    </button>
                </form>
                <p class="mt-4 text-center">
                    Already have an account? <a href="{% url 'signin' %}" class="text-indigo-600 hover:underline">Sign In</a>
                </p>
            </div>
            <div class="md:w-1/2 flex justify-center items-center mt-8 md:mt-0">
                <img src="{% static 'images/grocery.jpg'%}" alt="Sign Up Illustration" class="w-full max-w-md">
            </div>
        </div>
    </div>
</div>
{% endblock %}